<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="URLDO">
    <insert id="insertURL" parameterType="URL">
        <![CDATA[
          INSERT INTO URL(urlLong,urlShort)
          VALUES (#{urlLong},#{urlShort})
        ]]>
    </insert>

    <select id="getURL" resultType="URL">
        <![CDATA[
          select * from URL
          WHERE urlLong = #{urlLong}
        ]]>

    </select>
    <select id="getURLbyID" resultType="URL">
        <![CDATA[
          SELECT  * FROM URL
          WHERE id = #{id}
        ]]>
    </select>
</mapper>